body {
  background-color: blue;
  font-weight: bold;
}

h1 {
  background-color: pink;
  font-size: 45px;
}

h2 {
  background-color: yellow;
  font-size: 35px;
}

p {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* flex-direction: column;
  align-items: center; */
}

.left,
.right {
  width: 40%;
  text-align: center;
  border: 5px solid black;
}

.right {
  background: red;
}
