body {
  background-color: blue;
}

h1 {
  background-color: pink;
}

h2 {
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
